$url-font: '/assets/font/josefin-sans/';
$page-min-height:600px;

//bootstrap custom variable
$primary: #008248;
$danger: #F34A38;
$danger: #F34A38;
$success: #4267B2;
@import "~bootstrap/scss/bootstrap";