$base-font-size: 16px; // font-size cơ bản
$url-font: '/assets/font/josefin-sans/';
$page-min-height:600px; //

//bootstrap custom variable
$primary: #008248;
$danger: #F34A38;
$danger: #F34A38;
@import 'react-notifications-component/dist/scss/notification.scss', "~bootstrap/scss/bootstrap";