#footer {
    padding: 50px 0;
    background-color: black;

    a {
        text-decoration: none;
        color: #eee;

        &:hover {
            color: $primary;
        }
    }

    .scroll-to-top {
        text-align: center;
        width: 40px;
        height: 40px;
        position: fixed;
        right: 40px;
        bottom: 40px;
        font-size: 25px;
        color: $primary;
        background: $dark;
        border: 1px solid $primary;
        border-radius: 10px;
        cursor: pointer;

        &:hover {
            color: white;
            background: $primary;
            border: 1px solid white;
        }
    }
}