
  
 .titlemap {
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: #281414;
    z-index: 10;
    margin: 0;
    padding: 0;
  }
  
  .search {
    position: absolute;
    top: 50px;
    left: 100px;
    margin-left: 200px;
    transform: translateX(-50%);
    width: 350px;
    z-index: 10;
  }
  
  .search input {
    padding: 0.5rem;
    font-size: 1.5rem;
    width: 100%;
  }
  
  .locate {
    position: absolute;
    top: 320px;
    right: 100px;
    background: none;
    border: none;
    z-index: 11;
  }
  .locate img {
    width: 30px;
    cursor: pointer;
  }