//Đổi cursor thành pointer (đánh dấu có thể bấm)
.cursor--pointer {
    cursor: pointer;
}

.element--center {
    position: absolute;
    width: fit-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.va--top {
    vertical-align: top;
}

//.fs--1 đến .fs--7 để chỉnh font-size (bootstrap có fs-1 -> fs-6 tương đương với h1 -> h6 )
@for $i from 1 through 7 {
    .fs--#{$i} {
        font-size: 26-$i*2px;
    }

    .fw--#{$i} {
        font-weight: $i*100;
    }
}

.link--text {
    color: inherit;
    text-decoration: none;

    &:hover {
        color: inherit;
    }
}

.text--link {
    color: $primary;
    text-decoration: underline;
    cursor: pointer;

    &:hover {
        color: #007942;
    }
}

.bg-dark--20 {
    background-color: rgba(0, 0, 0, 0.2);
}

.ict {
    display: inline-block;
    background-image: url(/assets/images/icon-mioto.png);
    background-repeat: no-repeat;
    background-size: 500px 250px;
    width: 60px;
    height: 60px;
    vertical-align: middle;
    text-indent: -9999px;
}

.ict.ict-bike {
    background-position: -341px -171px;
    width: 75px;
    height: 76px;
}

.ict.ict-selfdrive {
    background-position: -202px -171px;
    width: 75px;
    height: 76px;
}

.ict.ict-withdriver {
    background-position: -425px -87px;
    width: 75px;
    height: 76px;
}