.item {
    color: #000;
    justify-items: flex-start;

    a {
        text-decoration: none;

        .item__img {
            .item__img-main {
                width: 100%;
                height: 300px;
                position: relative;

                img {
                    width: 100%;
                    height: 250px;
                    background-size: cover;
                    background-repeat: no-repeat;
                }
            }

            .item__img-infor {
                position: relative;

                .item__img-infor-passport {
                    width: 50%;
                    height: 35px;
                    background-color: rgba(244, 112, 55, 0.6);
                    text-align: center;
                    line-height: 35px;
                    font-size: 12px;
                    color: #fff;
                    border-radius: 20px;
                    position: absolute;
                    right: 10px;
                    top: -290px;
                }
            }
        }

        .item__decs {
            position: relative;
            background-color: #fff;
            padding: 20px 0 5px 5px;

            top: -20px;
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;

            h2 {
                font-size: 20px;
                color: #000;
                margin-left: 3px;
            }

            .item__decs--rating {
                span {
                    font-size: 15px;
                    text-align: center;
                    line-height: 42px;
                    color: $text-muted !important;
                    vertical-align: sub;
                }
            }

            .item__decs--auto {
                display: inline-block;
                width: 30%;
                height: 25px;
                background-color: #e7eaef;
                color: #000;
                line-height: 25px;
                text-align: center;
                font-size: 14px;
                margin: 0 10px 0 0;
            }

            .item__decs-local {
                display: flex;

                span {
                    font-size: 12px;
                    line-height: 29px;
                    color: #000;
                    margin-left: 5px;
                }
            }
        }
    }
}