.adminPage {
    svg{
        box-sizing: unset !important;
    }
    .adminPageContainer{
        display: flex;
        margin: 0;
        padding: 0;
    }
}
// topbar ========================================
.topbar{
    width: 100%;
    height: 50px;
    background-color: #3c4b64;
    position: sticky;
    top:0;
    z-index: 999;
    .topbarWrapper{
        height:100%;
        padding: 0px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .topLeft{
            .logo{
                font-weight: bold;
                font-size: 30px;
                color: white;
                cursor: pointer;
            }
        }
        .topRight{
            display: flex;
            align-items: center;
            .topbarIcons{
                position: relative;
                cursor: pointer;
                margin-right: 10px;
                color: white ;
                .topIconBag{
                    position: absolute;
                    width: 15px;
                    height: 15px;
                    top:-5px;
                    right: 0px;
                    color: white;
                    background-color: red;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 10px;
                }
            }
            .topAvatar{
                width: 40px;
                height: 40px;
                border-radius: 50%;
                cursor: pointer;
            }
        }
    }
}
// ====sidebar=====================
.sidebar{
    flex: 1; 
    height: calc(100vh - 50px);
    background-color:#3c4b64;
    position: sticky;
    top: 50px;
    .sidebarWrapper{
        padding: 20px;
        .sidebarMenu{
            color: white;
            .sidebarTitle{
                color: #97989b;
                margin-bottom: 20px;
                margin-left: 0px;
             }
             .sidebarList{
                list-style: none;
                .sidebarListItem{
                    margin-left: -20px;
                    margin-bottom: 10px;
                    border-radius: 3px;
                    padding-bottom: 5px;
                    cursor: pointer;
                    .sidebarIcon{
                        padding-right:10px;
                        font-size: 24px !important;
                        padding-top: 5px;
                        padding-left: 10px;
                     }
                 }
                 .sidebarListItem.active,
                 .sidebarListItem:hover{
                    background-color: #97989b;
                 }
             }
         }
     }
 }
  //====adminHome
  .adminHome{
    flex: 5;
    margin-top: 0;
}
//featureinfo=====
.feature{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 40px;
    .featureItem{
        flex: 1;
        margin: 0px 20px;
        padding: 30px;
        box-shadow: 5px 5px 10px 5px #717171;
        border-radius: 5px;
        cursor: pointer;
        .featureTitle{
            font-size: 20px;
            font-weight: 600;
            border-bottom: 3px solid gray;
        }
        .featureMoneyContainer{
            margin: 10px 0px;
            display: flex;
            align-items: center;
            .featureMoney{
                font-size: 45px;
                font-weight: 700;
            }
            .featureMoneyRate{
                display: flex;
                align-items: center;
                margin-left: 20px;
                .featureIcon{
                    font-size: 14px;
                    margin-left: 5px;
                    color: green;
                }
                .featureIcon.negative{
                    color: red;
                }
            }
            .featureSub{
                font-size: 15px;
                color:gray;
            }
        }
    }
}







