.slick-prev:before{
    color: green;
    font-size: 2rem;
    margin-left: -2rem;
}
.slick-next:before{
    color: green;
    font-size: 2rem;
    margin-left: 1rem;
}
body{
    background-color: #e5f6ea;
}
.banner{
    background-image: url("../../assets/images/banner-road-2.jpg");
    width:100%;
    height:auto;
    background-size: 100%;
    background-repeat: no-repeat;
}
.slogan{
    margin-top:70px;
    margin-bottom:70px;
    text-align: center;
    text-transform: uppercase;
}
.book-car{
    width:770px;
    height:450px;
    margin-left: 50px;
    background-color: rgba(0,0,0,.35);
    border-radius:3px;
    padding:25px;
    box-sizing: border-box;
}
.map{
    position: relative;
    width:600px;
    height:450px;
    background-color: rgba(0,0,0,.35);
    border-radius:3px;
    box-sizing: border-box;
    padding:25px;

}
.book-car .tab-left{
    width:30%;
    height:100%;
    float:left;
    padding: 0;
}
.book-car .tab-left .service-box{
    width:100%;
    height:33%;  
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px ;
    color: black;
    list-style-type: none;
 
    padding-top: 10%;
    border-right:2px solid black;
}
.book-car .tab-left .service-box .image-car{
    width:80%;
    height:60%;  
    border-radius: 50%; 
    background-color: green;
    margin-left: 10%;
}
.book-car .tab-left .service-box .image-car img{
    width:80%;
    height:80%;   
    margin:5% 10% ;
}
.book-car .tab-right{
    margin-right: 31px;
    width:65.6%;
    height:auto;
    float:right;
    background-color: #fff;
    border-top-right-radius:3px ;
    border-bottom-right-radius:3px ;   
}
.advertise{
    width:600px;
    height:auto;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom:100px;
    background-color:green;
   
}
.insurrance{
    width: 600px;
    height:216px;
    background-color:white;
    margin: 0 auto;
    margin-top: -50px;
    border-top-right-radius:20px;
    border-top-left-radius:20px;
    padding-top:1rem;

}
.insurrance .insurrance-banner{
    width:100%;
    height: 80%;
    display:flex;
    grid-template-columns:auto auto auto ;
    justify-content:space-around;
    padding-bottom: 1rem;
}
.insurrance .insurrance-banner .insurrance-image{
    width:30%;
    height: 100%;
    margin-bottom: 1rem;
    border-right: 2px solid dimgray;
    border-left: 2px solid dimgray;
}
.insurrance .insurrance-banner .insurrance-image img{
    width: 100%;
    height: 80%;
}
.main-feature{
    width:1300px;
    height:250px;
    margin: 0 auto;
    margin-top:50px;
    font-weight: bold;
}
.main-feature .title-feature{
    width:100%;
    height:20%;
}
.main-feature .image-feature img{
  width: 80%;
  height: 80%;
  box-shadow: 10px 10px #b2b5b8;
}

.slick-slide.slick-center img {
    box-shadow:none; 
    transform: scaleY(1.3) scaleX(1.4);
    transition-duration: 1s;
}
.car-rental-guide{
    width: 100%;
    height:auto;
    margin-top: 100px; 
    background: #c7f3d4;
    padding: 50px 0;
    border-top: 1px solid #e8eaef;
    border-bottom: 1px solid #e8eaef;
}
.car-rental-guide .title-guide{ 
    width:100%;
    height:auto;
    padding-top: 20px;
    font-weight: bold;
    text-align: center;
    font-size:3rem;
}
.car-rental-guide .content-guide{   
    width: 100%;
    height:auto;
    display:flex;
    grid-template-columns: auto auto auto auto;
    justify-content:space-around;
}
.car-rental-guide .content-guide .image-guide{
    width:250px;
    height:250px;
}
.car-rental-guide .content-guide .image-guide img{
    width:100%;
    height:100%;
    border-radius: 50%;
}
.car-rental-guide .see-more{
    width:100%;
    height: 100px;
    padding-top: 60px;
}
.car-rental-guide .see-more .see-link{  
    float:right;
    margin-right: 8%;
    font-size:1.5rem;
    position: relative;
}
.car-rental-guide .see-more .see-link::before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 1px;
    background-color: #1e1e1f;
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
  }
.car-rental-guide .see-more .see-link:hover::before{
    left: 0;
    right: auto;
    width: 100%;
  }

.local-self-driver{
    width: 75%;
    height: 250px;
    margin: 50px auto;
    margin-bottom: 0px;
}
.local-self-driver{
    font-size: 1.5rem;
    font-weight: 900;
}
.local-self-driver .slick-slide img {
    border-radius: 10px;
    width: 90%;
    margin:0 auto;
}
.local-self-driver .slick-slide{
    transition-property: width height;
    transition-duration: 1s;
}
.local-self-driver .slick-slide:hover{
    transform: scale(1.1);
}
.local-self-driver .slick-slide h4{
    margin-top: -4.5rem;
    margin-left: 2rem;
    margin-bottom: 0;
    color: #fff;
}
.local-self-driver .slick-slide p{
    margin-left: 2rem;
    color: #fff;
}
.banner2{
    width: 100%;
    height: 500px;
    background-image: url('../../assets/images/bg3.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    margin-top: 50px;
}
.banner2 .content-banner{
    position: absolute;
    left: 60%;
    width: 40%;
    height: 100%;
    padding-top: 140px;
    padding-left: 30px;
    padding-right: 160px;   
}
.banner2 .content-banner button{
    margin-right: 16px;
}
.car-self-driver{
    width: 75%;
    height: 350px;
    margin: 50px auto;
    font-size: 1.5rem;
    font-weight: 900;
}
.car-self-driver .slick-slide img{
    border-radius: 5px;
    width: 90%;
    height: 200px;
    margin:0 auto ;
}
.car-self-driver .slick-slide h4{
    padding-left: 1rem;
    margin-top: -2rem;
    color: green !important;
    transition: color 0.5s;
}
.car-self-driver .slick-slide:hover h4{
   color: white !important;
}
.car-self-driver .slick-slide p {
    margin: 0;
    font-size: 1rem;
    padding-left: 1rem;
}
.car-self-driver .slick-slide .num-rental{
    margin-left: 2.5rem;
}
.car-self-driver .slick-slide .icon{
    width: 26px;
    height: 26px;
}
.blog{
    width: 100%;
    height:800px;
    background-image: url("../../assets/images/bg-blog.png");
    background-size: 100%;
    background-repeat: no-repeat;
}
.blog .blog-title{
    text-align: center;
    font-size: 3rem;
    margin-top: 1rem;
}
.blog .blog-content {
    width: 80%;
    height: 600px;
    margin: 0 auto;
}
.blog .blog-content div{
    padding-bottom: 15px;
    position: relative;
}
.blog .blog-content .card{
    width: 90% !important;
    height:90% !important;
    margin-left: 5%;
    box-shadow: 10px 10px 10px #888888;
    border-radius: 10px;
    transition: all 250ms ease-in-out;
}
.blog .blog-content .card:hover{
    box-shadow: 0 4px 1rem -4px #000;
    transform: translateY(-3px);
}
.blog .blog-content .card .card-link{
    position: relative;
}
.blog .blog-content .card .card-link::before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 1px;
    background-color: #1e1e1f;
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}
.blog .blog-content .card .card-link:hover::before{
    left: 0;
    right: auto;
    width: 100%;
}
.blog .blog-content .card .card-text{
    font-weight: 300;
}    
.app-container{
    width:100%;
    height: 600px;
    background-image: url("../../assets/images/bg2.png");
    background-size: 100% ;
    background-repeat: no-repeat;
}
.app-container .app-left{
    width:50%;
    height: 100%;
    float:left;
    padding-top: 10rem;
    padding-left: 8rem;
}
.app-container .app-left .app-image-apple{
    float:left;
    margin-right: 1rem;
}

.app-container .app-right{
    width:50%;
    height: 100%;
    float:right;
    padding-left: 8rem;
    padding-top: 5rem;
}

  