.register-footer {
    background-color: #e7eaee;
    padding-bottom: 100px;
    .main {
        width: 824px;
        margin: 0 auto;
        .left-btn {
            background-color: #000;
        }
    }
}
