.register-footer {
    background-color: #e7eaee;
    padding-bottom: 100px;
    .main {
        max-width: 800px;
        width:100%;
        margin: auto;
        .left-btn {
            background-color: #000;
        }
    }
}
